body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

.container {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.biome {
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

